<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하십시오.
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<appSettings>
		<add key="isLive" value="true" />
		<add key="cookieDomain" value=".moonbd.online" />
		<add key="processDomain" value="https://market-api-trade.moonbd.online/GameProcess/" />
		<add key="AllowIPList" value="127.0.0.1|144.76.119.8|136.243.173.43|141.95.54.81|142.132.250.33" />
		<add key="serviceProject" value="BDO" />
		<add key="serviceType" value="NA" />
		<add key="isPearlApp" value="true" />

		<add key="authCookie" value="TradeAuth_Cookie" />
		<add key="authenticationTimeOut" value="120" />
		<add key="cdnDomain" value="http://moonbd.online/test" />
		<add key="defaultCulture" value="en-US" />
		<add key="defaultLanguage" value="en" />

		<add key="UtcTimeZoneID" value="UTC" />
		<add key="ServiceUtcTime" value="0" />
		<add key="isServerTime" value="true" />
		<add key="branches" value="live" />
		<add key="platform" value="GameWeb" />
		<add key="isDebug" value="true" />
		<add key="otpAuthUrl" value="localhost" />
		<add key="allowBorswerList" value="chrome|" />
		<add key="xmlContentsLocalPath" value="C:\TradeMarketContents_xml" />
	</appSettings>
	<connectionStrings>
		<add name="SA_BETA_TRADEDB_0002" connectionString="metadata=res://*/Sql.TradeDb.csdl|res://*/Sql.TradeDb.ssdl|res://*/Sql.TradeDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.76.119.8;initial catalog=SA_BETA_TRADEDB_0002;persist security info=True;user id=CrimsonDesert;password=BlackNo.1Game#^%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SA_BETA_WORLDDB_0002" connectionString="metadata=res://*/Sql.WorldDb.csdl|res://*/Sql.WorldDb.ssdl|res://*/Sql.WorldDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.76.119.8;initial catalog=SA_BETA_WORLDDB_0002;persist security info=True;user id=CrimsonDesert;password=BlackNo.1Game#^%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SA_BETA_GAMEDB_0002" connectionString="metadata=res://*/Sql.GameDb.csdl|res://*/Sql.GameDb.ssdl|res://*/Sql.GameDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.76.119.8;initial catalog=SA_BETA_GAMEDB_0002;persist security info=True;user id=CrimsonDesert;password=BlackNo.1Game#^%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PF_BETA_LOGDB_000" connectionString="metadata=res://*/Sql.LogDb.csdl|res://*/Sql.LogDb.ssdl|res://*/Sql.LogDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=144.76.119.8;initial catalog=PF_BETA_LOGDB_0001;persist security info=True;user id=CrimsonDesert;password=BlackNo.1Game#^%;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>